My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        144
      ],
      "id": "84931812-1a75-437c-bf35-e1775208a039",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "7c1ac274-7e8d-43a1-b0a5-b8e3b8e77668",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c1ede-df27-432e-a605-ecba84e099a8",
              "name": "标题",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "46152e4b-ef50-4578-b022-c56ac97844dc",
              "name": "日期",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "485ee840-7ec6-4ee9-8349-864eb0ffe435",
              "name": "内容",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "dd30c801-2217-420e-a337-73524894b650",
              "name": "链接",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "d351f227-bb81-4d39-93e8-8d24771025af",
              "name": "媒体",
              "value": "聚合网站",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        208
      ],
      "id": "a581e71a-4c8a-4691-9531-0bf1d8237621",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "feishuOauth2Api",
        "resource": "bitable",
        "operation": "bitable:table:record:add",
        "app_toke": "Zhm6wRjKHiBJCokPoYBcyEK6nNf",
        "table_id": "tbl3bbC4kxM8hHCe",
        "body": "={\n  \"fields\": {\n    \"标题\": \"{{ $json.output?.标题 || $json['标题'] || '无标题' }}\",\n    \"日期\": {{ Math.floor(Date.now() / 1000) }},\n    \"内容\": \"{{ $json.output?.内容 || $json['内容'] || '无内容' }}\",\n    \"媒体\": \"{{ $json.output?.媒体 || $json['媒体'] || '未知媒体' }}\",\n    \"链接\": {\n      \"text\": \"查看原文\",\n      \"link\": \"{{ $json.output?.链接 || $json['链接'] || '' }}\"\n    }\n  }\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1360,
        304
      ],
      "id": "3b3df780-4239-4f16-a7d7-c3432127c87c",
      "name": "Feishu Node",
      "credentials": {
        "feishuOauth2Api": {
          "id": "RXBaUL4WUwrGxvoe",
          "name": "Feishu account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c12a8604-4cf6-4450-b62a-34efc6041c92",
              "name": "标题",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "41a62bce-c755-4cc2-9beb-05c33146fa8d",
              "name": "内容",
              "value": "={{ $json['content:encodedSnippet'] }}",
              "type": "string"
            },
            {
              "id": "65541a9d-7041-41ec-8b51-87cf75b76554",
              "name": "日期",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "885000e0-7cf7-45e1-8757-ced1cd54fc00",
              "name": "链接",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "3b253c13-45ff-4fbc-a12f-70e3f09c815c",
              "name": "媒体",
              "value": "国内媒体新",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "c3ade108-4c0a-45e2-9ce4-d1e52d29d402",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a6f9f45-3c11-4524-9be5-f730b56f17f3",
              "name": "标题",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "f68170aa-2ca3-4e5b-a3cd-6de9caf18bc7",
              "name": "日期",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "de78fd6b-2ee0-4d0e-9c62-7bc7fcff3f32",
              "name": "内容",
              "value": "={{ $json['content:encodedSnippet'] }}",
              "type": "string"
            },
            {
              "id": "92d70c7f-03ce-4608-bad1-41c7fae5f4a4",
              "name": "链接",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "4bccfc6b-c914-47fd-a073-049e0ab52234",
              "name": "媒体",
              "value": "腾讯科技",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        400
      ],
      "id": "1ba4c82b-b0d8-4a72-8e5c-53eff9867328",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "99741188-3184-4da7-83ea-b04a0d566596",
      "name": "Limit1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a45690cf-ad3c-45eb-b247-573cbeb33085",
              "name": "日期",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "6ab5382e-0ab1-4f1f-a24f-37558243d508",
              "name": "标题",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "c36ff096-9fa6-46f1-9b19-610887b9eed7",
              "name": "内容",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "8af9729f-fd49-4063-a45d-fe381ac46654",
              "name": "链接",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "804fa287-05c3-497e-be0e-b7ee2e3ef13b",
              "name": "媒体",
              "value": "国内媒体量",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        608
      ],
      "id": "ee6fa980-20f1-49d0-8c57-6ba0330ad047",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "url": "https://plink.anyfeeder.com/weixin/AI_era",
        "options": {
          "ignoreSSL": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "27590a03-d8cb-418d-8867-95c99cc3b26f",
      "name": "xinzhiyuan"
    },
    {
      "parameters": {
        "url": "https://rsshub.app/aibase/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -224,
        208
      ],
      "id": "34384ce0-3ed7-44d8-b7de-b69888cf2563",
      "name": "aibase"
    },
    {
      "parameters": {
        "url": "https://plink.anyfeeder.com/weixin/qqtech",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "23246c51-ef9b-4c6d-8c7f-296e620ec325",
      "name": "tengxunkeji"
    },
    {
      "parameters": {
        "url": "https://www.qbitai.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -224,
        608
      ],
      "id": "a5871e7c-bb6d-41c0-bd8a-e2ca591c04de",
      "name": "liangziwei"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a291383a-2989-4e4f-bf9a-34a46c06c3d8",
              "leftValue": "={{ new Date($json[\"日期\"]).toISOString().slice(0,10) }}\n",
              "rightValue": "={{ new Date().toISOString().slice(0,10) }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "04261e50-217f-4338-aa39-2bcfcb5c774e",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        528,
        352
      ],
      "id": "e7e3acce-39e5-4c91-afd1-ee163875e8dd",
      "name": "filter_today"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        480
      ],
      "id": "9d18a6f0-bda1-4ada-a1bf-4b864d5a636d",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个AI新闻结构化提取工具。\n你的唯一任务：把输入的AI新闻内容，提取并转换为严格符合要求的JSON格式。\n绝对不能输出任何解释、任何Markdown、任何多余文字，只返回纯JSON。\n\n【严格输出规则】\n1.  只返回一个JSON对象，不要任何其他内容\n2.  必须包含以下5个字段，缺一不可：\n    - \"标题\"：新闻标题（字符串）\n    - \"日期\"：新闻发布日期（字符串，格式YYYY-MM-DD）\n    - \"内容\"：新闻核心摘要（字符串，精简提炼）\n    - \"媒体\"：发布媒体（字符串）\n    - \"链接\"：原文链接（字符串）\n3.  严格遵守JSON语法：双引号、逗号、括号完全正确，无语法错误\n4.  绝对不能加```json、不能加解释、不能加任何非JSON内容\n\n【示例JSON（严格按照此结构，用真实数据填充）】\n{\n  \"标题\": \"OpenAI发布GPT-4o最新更新\",\n  \"日期\": \"2026-04-05\",\n  \"内容\": \"OpenAI正式推出GPT-4o，支持实时语音视频对话，响应速度提升2倍\",\n  \"媒体\": \"OpenAI官方博客\",\n  \"链接\": \"https://openai.com/blog/gpt-4o\"\n}\n\n【输入新闻内容】\n{{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        752,
        352
      ],
      "id": "090e8baa-d59c-4aad-847d-1898cb441f35",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4899cbc9-b256-4378-b030-5ed9c4b9f491",
              "name": "日期",
              "value": "={{ $json.output['日期'] }}",
              "type": "string"
            },
            {
              "id": "55f35fb8-e5dc-4e29-be42-d04d8a5ddf38",
              "name": "内容",
              "value": "={{ $json.output['内容'] }}",
              "type": "string"
            },
            {
              "id": "7cfb38ff-e2fc-4d06-b3ca-74b6018f80f0",
              "name": "媒体",
              "value": "={{ $json.output['媒体'] }}",
              "type": "string"
            },
            {
              "id": "21625050-7ccd-48a3-834b-cab3e03f833f",
              "name": "链接",
              "value": "={{ $json.output['链接'] }}",
              "type": "string"
            },
            {
              "id": "a8acfac0-6be7-4bd7-b685-744f020dd6b6",
              "name": "标题",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        304
      ],
      "id": "42e19080-07d7-40ab-ad37-d9e1305d4922",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"标题\": \"OpenAI发布GPT-4o最新更新\",\n  \"日期\": \"2026-04-05\",\n  \"内容\": \"OpenAI正式推出GPT-4o，支持实时语音视频对话，响应速度提升2倍\",\n  \"媒体\": \"OpenAI官方博客\",\n  \"链接\": \"https://openai.com/blog/gpt-4o\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1136,
        896
      ],
      "id": "00142947-d411-4da1-939c-6e716bcfdf9b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        864
      ],
      "id": "9416b18f-0d99-4183-8c79-a64f24177cd0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fyMnr8O2qjViJjE5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=doubao-seed-1-6-lite-251015",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        656
      ],
      "id": "77516b88-985b-4478-b138-1ebac43d5cea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TfkUfmrnnZF8Sm8J",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "doubao-seed-1-6-lite-251015",
          "mode": "list",
          "cachedResultName": "doubao-seed-1-6-lite-251015"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        896,
        896
      ],
      "id": "347dbe77-696b-4b03-b584-2d4846b057b3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "TfkUfmrnnZF8Sm8J",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "xinzhiyuan",
            "type": "main",
            "index": 0
          },
          {
            "node": "aibase",
            "type": "main",
            "index": 0
          },
          {
            "node": "tengxunkeji",
            "type": "main",
            "index": 0
          },
          {
            "node": "liangziwei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xinzhiyuan": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aibase": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tengxunkeji": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "liangziwei": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_today": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "xinzhiyuan",
            "type": "main",
            "index": 0
          },
          {
            "node": "aibase",
            "type": "main",
            "index": 0
          },
          {
            "node": "tengxunkeji",
            "type": "main",
            "index": 0
          },
          {
            "node": "liangziwei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Feishu Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "67791051-caf6-4e12-916a-6a7c2700a7e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0239348e9edf7ed31cfc17376721efa9ad4ffa73da1ca9ac197ddaee1ee94e9b"
  },
  "id": "7bNfaafoCciV2Ciu",
  "tags": []
}